*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--Eggshell);
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
}
:root{
    --Nutmeg : hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}
.container{
    display: flex;
    background-color:var(--White);
    padding: 35px;
    width:48vw;
    border-radius: 25px;
    margin: 10% ;
}
h2,h3,.o{
  color: var(--Nutmeg);
  
}
h2{
    font-family: "Young Serif","'Segoe UI', Tahoma, Verdana, sans-serif";
    font-weight: 400;
}
.om h1{
    font-family: "Young Serif","'Segoe UI', Tahoma, Verdana, sans-serif";
    font-weight: 400;
    margin: 20px 0px 20px;
    color: var(--DarkCharcoal);
}
.om img{
    width:650px;
    height:300px;
    border-radius: 10px;
}
.om p{
    margin-bottom: 50px;
}
.pre{
    margin: 20px;
}
.pre ul, ul li,ol li{
    padding: 5px;
}
.pre ul{
    margin-left: 20px;
    
}
.ing ul ,.ins ol,.nut p{
    padding: 20px 30px;
}
.pre,.ins,.ing{
    margin-bottom: 20px;
}
.ins h3{
    margin-left: 5px;
}
hr{
    margin-bottom: 50px;
}
.g{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.t,.o{
    font-weight: bold;
}
.t ul,.o ul{
    list-style: none;
}




